.AnalyticsTable {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.ScreenHeader {
  padding: 2rem;
  font-size: 4rem;
}

.QuizHeaders {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  background-color: rgb(93, 93, 214);
  padding: 0 2rem;
  gap: 1rem;
  border-radius: 1rem;
  color: white;
}

