.LogInCardContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 2rem;
  font-weight: 600;
}

.lables {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  font-size: 1.5rem;
}

.FormLabels {
  display: flex;
  gap: 2rem;
}

.FormLabels input {
  padding: 0.5rem;
  width: 22rem;
  background-color: rgb(194, 194, 194);
  border: none;
  outline: none;
}
